.itemWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.itemWrapper p {
    max-width: 20rem;
}

.itemImage {
    margin: 1rem 0;
    height: 14rem;
    width: 14rem;
}
